<form class="">
    <label for="post-title">
      Title:
    </label>
    <br />
    <textarea id="post-title" name="" ></textarea>
    <br />
    <label for="post-content">
      Content:
    </label>
    <br />
    <textarea id="post-content" name="" ></textarea>
    <br />   
    <div>
        <button  class="btn" type="submit" value="Submit">Post</button>
      </div>
  </form>