<form class="">
    <label for="post-title">
      Title:
    </label>
    <br />
    <textarea id="" name="" >
      {{!-- {{post-title}} --}}
    </textarea>
    <br />
    <label for="post-content">
      Content:
    </label>
    <br />
    <textarea id="" name="" >
      {{!-- {{post-content}} --}}
    </textarea>
    <br />
    
    <button type="submit" value="Submit">
      Post
    </button>
  </form>