<div class="post-card">
    <div class="post-header">
        Some Header {{!-- {{{}}} --}}
    </div>
    <div class="post-body">
        <p>
        Some Post  {{!-- {{{}}} --}}
        </p>
    </div>
   </div>
   <br>
   